*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
/* header */
header{
	height: 70px;
	width: 100%;
	background-color: #ec715f;
}
.headline{
	width: 1024px;
	position: relative;
	margin: 0 auto;
}
.logo{
	position: absolute;
	left: 0;
	height: 70px;
}
.header-list{
	position: absolute;
	right: 0;

}
.header-list>li{
	display: inline-block;
	font-size: 16px;
	color: #fafafa;
	margin: 0 30px;
	line-height: 70px;
}
/* main_visual */
.mv{
	background-image: url(img/mv.png);
	background-size: cover;
	height: 650px;
	width: 100%;
	text-align: center;
}
.mv-title{
	color: #fafafa;
	font-size: 64px;
	padding-top: 200px;
}
.mv-body{
	color: #fafafa;
	font-size: 20px;
	margin-top: 10px;
}
/* portfolio */
#portfolio,
#profile{
	background-color: #eceff1;
}
.pf-title,
.ft-title,
.pr-title,
.ct-title{
	font-size: 32px;
	padding-top: 90px;
	text-align: center;
}
.pf-title::after,
.ft-title::after,
.pr-title::after,
.ct-title::after{
	content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.pf-body,
.ft-body,
.pr-body,
.ct-body{
	font-size: 16px;
	text-align: center;
	margin: 30px 0;
}
.pf-img-box{
	width: 920px;
    padding-bottom: 90px;
    margin: 0 auto;
}
.pf-img{
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	float: left;
	margin: 10px 10px 0 0;
}
.pf-img:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.pf-img:nth-child(2) {
	background-image: url(img/websuku.png);
}
.pf-img:nth-child(3) {
	background-image: url(img/write.jpg);
}
.pf-img:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.pf-img:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.pf-img:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}
.pf-img:nth-child(-n+3){
	margin-top: 0;
}
.pf-img:nth-child(3n){
	margin-right: 0;
}
/* feature */
#feature{
}
.ft-box{
	margin: 0 auto;
	width: 980px;
}
.ft-box-item{
	width: 320px;
	float: left;
	display: inline-block;
	margin-bottom: 90px;
}
.ft-box-item:nth-child(2){
	margin: 0 10px;
}
.box-image{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}
.bg-1{
	background-image: url(img/icon1.png);
}
.bg-2{
	background-image: url(img/icon2.png);
}
.bg-3{
	background-image: url(img/icon3.png);
}
.ft-box-title{
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
}
.ft-box-body{
	font-size: 16px;
}
/* profile */
.pr-box{
	width: 512px;
	float: left;
	margin-bottom: 90px;
}
.pr-image{
	background-image: url(img/my-icon.jpg);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
}
.my-name{
	font-size: 20px;
	margin-bottom: 5px;
}
.my-name-body{
	font-size: 16px;
}
.my-skill{
	font-size: 20px;
	margin: 20px 0 5px 0;
}
.ct-item{
	width: 800px;
	margin: 0 auto;
}
.ct-box{
	width: 400px;
	float: left;
	margin-bottom: 90px;
}
.ct-box-content{
	width: 130px;
	margin: 0 auto;
}
.mail{
	font-size: 20px;
	margin-bottom: 5px;
}
.tell{
	font-size: 20px;
	margin: 20px 0 5px 0;
}
.mail-address,
.tell-number{
	color: #000;
}
.sns{
	margin-bottom: 5px;
	font-size: 20px;
}
.sns-icon{
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
}
.sns-list{
	display: inline-flex;
}
.facebook{
	background-image: url(img/facebook.png);
}
.twitter{
	background-image: url(img/twitter.png);
	margin: 0 20px;
}
.instagram{
	background-image: url(img/instagram.png);
}
/* footer */
footer{
	height: 60px;
	background-color: #ec715f;
	line-height: 60px;
	text-align: center;
	color: #fff;
}
@media screen and (max-width:768px) {
	.container{
		width: 90%;
		margin: 0 auto;

	}
	header{
		height: 50px;
	}
	.headline{
		width: 90%;
		margin:  auto;
	}
	.logo{
		height: 50px;
	}
	.head-menu{
		position: absolute;
		right: 0;
		width: 40px;
		height: 40px;
		border:1px solid #fafafa;
		margin-top: 5px;
		margin-right: 5%;
	}
	.head-menu>span{
		position: absolute;
		right: 7px;
		width: 25px;
		border:1px solid #fafafa;
	}
	.head-menu>span:nth-child(1){
		top: 11px;
	}
	.head-menu>span:nth-child(2){
		top: 18px;
	}
	.head-menu>span:nth-child(3){
		top: 25px;
	}

	.header-list>li{
		display: none;
	}
	.mv{
		background-image: url(img/code.png);
		height: 650px;
	}
	.pf-img-box {
		width: 100%;
	}
	.pf-img{
		float: none;
		margin: 0 auto;
	}
	.pf-img:nth-child(4) {
		margin: 10px auto;
	}
	.pf-img:nth-child(-n+3) {
		margin: 0 auto;
	}
	.pf-img:nth-child(3n) {
		margin: 0 auto;
	}
	.pf-img:nth-child(odd) {
		display: none;
	}
	#feature,
	#contact{
		padding: 0 5%;
		margin: 0 auto;
		text-align: center;
	}
	.ft-box{
		width: 320px;
		margin-bottom: 80px;
	}
	.ft-box-item{
		float: none;
		margin: 0 auto;
		text-align: center
	}
	.ft-box-title{
		margin: 10px auto;
	}
	.ft-box-body{
		margin-bottom: 10px;
	}
	#profile,
	#contact{
		padding-bottom: 90px;
	}
	.pr-box{
		float: none;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.my-name,
	.my-skill{
		margin: 20px 0 5px 0;
	}
	.ct-box{
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.ct-item{
		margin: 0 auto;
		width: 90%;
	}
	.sns{
		margin-top: 20px;
	}
	.ct-box-content{
		width: 90%;
	}
}